/* CSS Document */

div.bl1{
	width:300px;
	float:left;
	padding: 15px;
	margin: 30px;
	font: 30pt Tahoma;
	color: #808000;
}
div.bl2{
	width:600px;
	background: #ffffff;
	padding: 15px;
	margin: 30px;
	border: solid 1px black;
	font: 14pt Tahoma;
	float:left;
}.img {
}
